
snippet method "- (...) ....: ..." b
- (${1:void})${2:methodName};$0
endsnippet

snippet imethod "- (...) ... {  ... }" b
- (${1:void})${2:methodName}
{
    $0
}
endsnippet

snippet ai "alloc + init" b
${1:var} = [[${2:type} alloc] init];$0
endsnippet

